<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
  <div th:replace="~{nav.html :: navbar}"></div>

  <h4>로그인 페이지</h4>

  <div th:if="${param.error}">
    <h4>아이디나 비번 틀림</h4>
  </div>

  <form action="/login" method="POST">
    <input name="username" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button type="submit">전송</button>
  </form>

</body>
</html>