<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
  <div th:replace="~{nav.html :: navbar}"></div>

  <form action="/join" method="POST">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="text" name="displayName" placeholder="Display name"><br>
    <button type="submit">버튼</button>
  </form>

</body>
</html>